
<script src="../static/js/jquery.js"></script>
<script type="text/javascript">
	$(function() {
    $('#divOne').hover(function() { 
        $('#divTwo').show(); 
    }, function() { 
        $('#divTwo').hide(); 
    });
});

	$(function() {
    $('#divThree').hover(function() { 
        $('#divFour').show(); 
    }, function() { 
        $('#divFour').hide(); 
    });
});

	$(function() {
    $('#divFive').hover(function() { 
        $('#divSix').show(); 
    }, function() { 
        $('#divSix').hide(); 
    });
});
</script>

<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCwNe5k0GGnAoTbTIu4E7DDhW-hWqlyn6k",
    authDomain: "inshape-1f517.firebaseapp.com",
    databaseURL: "https://inshape-1f517.firebaseio.com",
    storageBucket: "inshape-1f517.appspot.com",
    messagingSenderId: "727790530768"
  };
  firebase.initializeApp(config);
</script>
<script type="text/javascript">
function signOut() {
	firebase.auth().signOut().then(function() {
  		// Sign-out successful.
  		window.location = 'index.html';
	}, function(error) {
  		// An error happened.
  		alert("i'm in error");
			var errorCode = error.code;
			var errorMessage = error.message;
			isError = true; 
			alert(errorMessage);
			console.log(error);	
	});
}

function designWorkout() {
	window.location='design.html';
}

function weeklyPlan() {
	window.location='plan.html';
}

function upperBody() {
	window.location='upperBody.html';
}

function coreBody() {
	window.location='coreBody.html';
}

function lowerBody() {
	window.location='lowerBody.html';
}



</script>


<link rel="stylesheet" type="text/css" href="../static/css/body.css"> 
<center>
<div class="header">

	<h1>In Shape</h1>
	<button class= "logout" type="button" onclick="signOut()">Logout</button>

</div>

<body class="body" style="background-color:#000000">
	
 <div>
	<button class= "optionbuttons" type="button" onclick="weeklyPlan()">Weekly Plan </button> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	<button class= "optionbuttons" type="button" onclick="designWorkout()">Design Workout</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	<button class= "optionbuttons" type="button">Previous Plans</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 </div>
 <br>

<div id="image">
	<img  id = "divOne" class= "myBodyImages upper" src="../static/images/upper.png" alt="body" style="width:302px;height:240px;" onclick="upperBody()">
	<label id = "divTwo" style="display: none;position:absolute;top:300px;">Upper</label>
	<img id = "divThree" class= "myBodyImages mid" src="../static/images/mid.png" alt="body" style="width:300px;height:240px;" onclick="coreBody()">
	<label id = "divFour" style="display: none;position:absolute;top:500px;">Core</label>
	<img id = "divFive" class= "myBodyImages lower" src="../static/images/lower.png" alt="body" style="width:295px;height:340px;" onclick="lowerBody()">
	<label id = "divSix" style="display: none;position:absolute;top:800px;">Lower</label>
</div>

</body>
</center>

