<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCwNe5k0GGnAoTbTIu4E7DDhW-hWqlyn6k",
    authDomain: "inshape-1f517.firebaseapp.com",
    databaseURL: "https://inshape-1f517.firebaseio.com",
    storageBucket: "inshape-1f517.appspot.com",
    messagingSenderId: "727790530768"
  };
  firebase.initializeApp(config);
</script>
<script type="text/javascript">
window.onload = function() {
	firebase.database().ref('/CoreBodyWorkout/').on('value', function(snapshot) {
  		snapshot.forEach(function(childSnapshot) {
    		var childKey = childSnapshot.key;
    		if (hasWhiteSpace(childKey) == true) {
    			//console.log(childKey)
    			var nonWhitespaceChildKey = childKey.replace(" ", "");
    			console.log(nonWhitespaceChildKey);
    			var container = document.getElementById("listview");
   				container.innerHTML += "<div id = " + nonWhitespaceChildKey + " class='listObject' style='border-color: #307f48'> "+ childKey + "<input type='checkbox' id=" + nonWhitespaceChildKey + "</div></br>";
    		}
    		else {
    			var container = document.getElementById("listview");
   				container.innerHTML += "<div id = " + childKey + " class='listObject' style='border-color: #307f48'> "+ childKey + "<input type='checkbox' id=" + childKey + "</div></br>";
    		}
    		//console.log(childKey+"\n");	
    		//var childData = childSnapshot.val();
    		// ...
  		});
	});
};

function goHome() {
  window.location='body.html';
}

function hasWhiteSpace(s) {
  return s.indexOf(' ') >= 0;
}

function addToPlan() {
	//alert("I'm in addToPlan");
	var userId = firebase.auth().currentUser.uid;
	var radioB = document.getElementById('radioButtons');
	var rButtons = radioB.getElementsByTagName('input');
	for (var i = 0; i < rButtons.length; i += 1) {
  		//divArray.push(divs[i].innerHTML);
  		//console.log(rButtons[i]);
  		if (rButtons[i].checked == true) {
  			console.log(rButtons[i].id);
  			var listWorkouts = document.getElementById('listview');
			var workoutValues = listWorkouts.getElementsByTagName('input');
			for (var j = 0; j < workoutValues.length; j += 1) {
				if (workoutValues[j].checked == true) {
					//console.log(workoutValues[j].id);
					var newPostKey = firebase.database().ref().child('Users/' + userId + '/day/'+rButtons[i].id+'/workout/Workout').push().key;

  					// Write the new post's data simultaneously in the posts list and the user's post list.
  					var updates = {};
 				 	updates[newPostKey] = workoutValues[j].id;

  					return firebase.database().ref(newPostKey).update(updates);
				}
				else {
				}
					// Get a key for a new Post.
					//console.log(rButtons[i].id);
					//console.log(workoutValues[i].value);
  				/*var newPostKey = firebase.database().ref().child('/day/'+rButtons[i].id'/workout/Workout').push().key;

  				// Write the new post's data simultaneously in the posts list and the user's post list.
  				var updates = {};
 				 updates['/posts/' + newPostKey] = postData;
  				updates['/user-posts/' + uid + '/' + newPostKey] = postData;

  				return firebase.database().ref().update(updates);
			//}
  			//console.log("true"); */ 			
 			}
 		}
  		else {
  			//console.log("false");
  		}
	}
}
</script>



<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<h1 style="color: #307f48" align="center"> Core Body Workouts </h1>
<div align='center'>
	<button style="width:250px;height:50px;background-color:#307f48;border-color:#307f48;font-size:15px;color:#d4e7f7;border-radius: 12px;"class= "option" type="button" onclick="addToPlan()">Add to Plan </button>
  <button style="width:250px;height:50px;background-color:#307f48;border-color:#307f48;font-size:15px;color:#d4e7f7;border-radius: 12px;"class= "option" type="button" onclick="goHome()" align="center">Return to Home </button>
  	<br>
	<div id="radioButtons" >  
    	<input type="radio" id='Monday' name="Monday" > <span>Mon </span>
    	<input type="radio" id='Tuesday' name="Tuesday" > <span>Tue </span>
    	<input type="radio" id='Wednesday' name="Wednesday" > <span>Wed </span>
    	<input type="radio"  id='Thursday' name="Thursday" > <span>Thur </span>
    	<input type="radio" id='Friday' name="Friday" > <span>Fri </span>
    	<input type="radio" id='Saturday' name="Saturday" > <span>Sat </span>
    	<input type="radio"  id='Sunday' name="Sunday" > <span>Sun </span>
	</div>
  	<br>
</div>
<div id="listview" align='center'style="overflow: scroll;">	
  

</div>
