<link rel="stylesheet" type="text/css" href="../static/css/design.css"> 
<!doctype html>
<html>
  <head>
		<title>
		Design a Workout
		</title>
	</head>
<body>
<h3>
Design a workout
</h3>

<p>
	What is your goal for today?
</p>
		<input class="rad" type="radio" id="strength" name="goal" > <span>Strength Building </span>
		<br />
		<input class="rad" type="radio" id="muscle" name="goal"  > <span>Muscle Building </span>

		<br />
		<input class="rad" type="radio" id="cardio" name="goal" > <span>Cardio </span>

		<p></p>

		<p>What muscle group(s) are you working today?<p/>
		<p></p>
		<input class="rad" type="checkbox" id="chest" name="Chest" > <span>Chest </span>

		<br />
		<input class="rad" type="checkbox" id="back" name="Back" > <span>Back </span>

		<br />
		<input class="rad" type="checkbox" id="biceps" name="Triceps" > <span>Biceps </span>

		<br />
		<input class="rad" type="checkbox" id="triceps" name="Biceps" > <span>Triceps </span>

		<br />
		<input class="rad" type="checkbox" id="shoulders" name="Shoulders" > <span>Shoulders </span>

		<br />
		<input class="rad" type="checkbox" id="legs" name="Legs" > <span>Legs </span>

		<br />
		<input class="rad" type="checkbox" id="core" name="Core" > <span>Core </span>

		<p></p> 
	<button id="myButton" onclick="move()">Submit</button>

</body>

<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-messaging.js"></script>
<script src="../static/js/jquery.js"></script>
<script>
   //Initialize Firebase
  var config = {
    apiKey: "AIzaSyCwNe5k0GGnAoTbTIu4E7DDhW-hWqlyn6k",
    authDomain: "inshape-1f517.firebaseapp.com",
    databaseURL: "https://inshape-1f517.firebaseio.com",
    storageBucket: "inshape-1f517.appspot.com",
    messagingSenderId: "727790530768"
  };
  firebase.initializeApp(config);
  var database = firebase.database();
  //Go to Display Page
  function move(){
  		workout();
  		window.location = 'display.html';	
  }

  function goHome() {
  window.location='body.html';
}

  function workout(){
  	firebase.database().ref('input/').set({
    Strength: document.getElementById('strength').checked,
    Hypertrophy: document.getElementById('muscle').checked,
    Cardio: document.getElementById('cardio').checked,
    Chest: document.getElementById('chest').checked,
    Back: document.getElementById('back').checked,
    Biceps: document.getElementById('biceps').checked,
    Triceps: document.getElementById('triceps').checked,
    Shoulders: document.getElementById('shoulders').checked,
    Legs: document.getElementById('legs').checked,
    Core: document.getElementById('core').checked
  });
  }
  var str_chest = new Array("Flat Bench Press: 5x5", "Incline Dumbbell Press: 4x8",
  					"Dips: 3x8", "Cable Flies: 3x10");
  var str_back = new Array("Deadlifts: 4x5", "Pullups: 3x8", "Cable Rows: 3x8", "Lat Pulldowns: 3x8");
  var str_shoulders = new Array("Shoulder Press: 4x6", "Lateral Raises: 3x10", "Front Raises: 3x10", "Shoudler Shrugs: 3x10" );
  var str_legs = new Array("Barbell Squats: 5x5", "Leg Press: 4x8", "Leg Extensions: 4x8", "Hamstring Curls: 4x8", "Calf Raises: 4x12");	
  var hyp_chest = ["Flat Bench Press: 4x10", "Incline Dumbbell Press: 4x12",
  					"Dips: 3x12", "Cable Flies: 3x15"];
  var hyp_back = ["Deadlifts: 4x10", "Pullups: 3x10", "Cable Rows: 3x12", "Lat Pulldowns: 3x12"];
  var hyp_shoulders = ["Shoulder Press: 4x10", "Lateral Raises: 3x15", "Front Raises: 3x15", "Shoudler Shrugs: 3x20" ];
  var hyp_legs = ["Barbell Squats: 4x10", "Leg Press: 4x12", "Leg Extensions: 4x12", "Hamstring Curls: 4x12", "Calf Raises: 4x20"];	
  var reg_biceps = ["Preacher Curls: 4x10", "Hammer Curls: 4x10", "Isolation Curls: 2x15"];
  var reg_triceps = ["Dips: 3x10", "Tricep Pushdowns: 4x10", "Skull Crushers: 4x10"];
  var reg_core = ["Cable Crunches: 3x12", "Lying Leg Raises: 3x15", "Oblique Crunches: 3x12"];

</script>

</html>